<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProGram</title>
    <link rel="icon"
        href="https://img.utdstc.com/icons/programming-hub-android.png:200"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <%- include("headerLogueado") %>

    <main>

   
        <div class="uk-section uk-section-small bodynacho">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                  
                  <ul>
                      
                    <% for( let index = 0; index < posts.length; index++ ) { %>
                    <li> 
                        
                        <article class="post uk-card-default uk-flex uk-flex-column">
                            <div class="info-usuario uk-flex ">
                                <div>
                                    <a href="miPerfil/detalleUsuario/<%=posts[index].usuarioDelPost.id%>"><img src="<%= posts[index].usuarioDelPost.fotoPerfil %>" alt=""></a>
                                    
                                </div>
                                <a href="miPerfil/detalleUsuario/<%=posts[index].usuarioDelPost.id%>"><h4> <%= posts[index].usuarioDelPost.username %></h4></a>
                              
                                
                            </div>
                            <div class="post-body uk-flex uk-flex-center">
                                <a href="/detallePost/<%=posts[index].id%>"><img src="<%= posts[index].url %>" alt=""></a>
                                
                            </div>
                            <div class="post-reacciones">
                                <ul class="post-icons uk-flex uk-flex-between">
                                    <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                    </li>
                                    <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                    </li>
                                </ul>
                                <div class="post-pie uk-flex">
                                    <h5 class="uk-width-1-6"><%= posts[index].usuario_id %></h5>
                                    <br>
                                    <p class="uk-width-5-6"> <%= posts[index].texto_de_post %></p>
                                </div>
                            </div>
                            <div class="post-comentarios">
                                <h6>Comentarios</h6>
                                <ul>
                                    
                                    <a href="/detallePost/<%=posts[index].id%>">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                    
                    </li> 
     
                        <% } %>
                        
                  </ul> 
                  
                  
                        
               
                  
                  

                   
                   
                    <!--  -->
                   
        
                </section>

            </div>
        </div>
    </main>


    <%- include("footer") %>

</body>

</html>